body {
  background: rgb(245, 229, 200);
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slidecontainer {
  width: 100%;
  /* Width of the outside container */
}

.slider {
  width: inherit;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #04AA6D;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #04AA6D;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.title {
  font-size: 48px;
  text-align: center;
  padding: 40px 25px;
  margin: 0;
  background-color: #f1f1f1;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

#subtitle {
  font-size:24px;
}

.canvas {
  background-color: white;
  border: 2px solid black;
  width: 500px;
  height: 500px;
  display: inline-grid;
  margin: 50px 250px 50px 150px;
  grid-template: repeat(16, 1fr) / repeat(16, 1fr);
}

.settings  * {
  font-size: large;
  margin: 5px auto;
  text-align: center;
}

button {
  width: 180px;
  height: 40px;
  border-radius: 8px;
}

.grid {
  display: inline-block;
}

.credit {
  text-align: center;
  font-size: 18px;
}